
.container{
width: 95%;
/*min-height: auto !important;*/
min-width: 660px;
max-width: 1000px;
border-left: 2px solid black;
border-right: 2px solid black;
background: #FEFEFE;
padding-bottom: 30px;
padding-left: 15px 5%;
padding-right: 15px 5%;
margin-right: auto;
margin-left: auto;
}

/***********/


.section{
max-width: 1200px;
width: 100%;
min-width: 980px;
margin: 25px auto 0px;
}
.homebanner {
    
    width: 900px;
    height: 356px;
    overflow: hidden;
    position: relative;
    background: #F0F0F0 none repeat scroll 0% 0%;
    margin: auto;
    
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.mycarousel{
width: 100%;
}
.mycarousel .my-carousel-control{
width: 10%;
}
.mycarousel  .carousel-control.left{
background-image: none;
}
.mycarousel  .carousel-control.right{
background-image: none;
}

.mycarousel  .glyphicon-chevron-right, .mycarousel  .glyphicon-chevron-left{
background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;  
width: 58px;
height: 50px;
border-radius: 6px;
padding: 8px 0px 0px;
margin: 0px;
 } 
.mycarousel .carousel-inner{

}
.mycarousel .carousel-inner img{
 width: 100%;
}
/*********************/


.picture {
    float: left;
    overflow: hidden;
    width: 33.637%;
}
.price_sale {
    float: left;
    width: 32.274%;
    margin-top: 43px;
}
section {
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    /*margin: 30px auto 0px;
    padding-top: 20px;*/
}
.price_sale strong {
    display: block;
    font-size: 22px;
    color: #D0021B;
    margin-bottom: 6px;
}
.infopromotion {
    display: block;
    font-size: 16px;
    line-height: 1.3em;
    color: #27AE60;
    font-weight: 600;
}
.infocomes {
    display: block;
    overflow: hidden;
}
.infocomes li {
    display: block;
    overflow: hidden;
    padding: 5px 0px 0px 20px;
    font-size: 13px;
    color: #545454;
}
.infocomes li .icondetail-check {
    margin-left: -21px;
}

[class^="icondetail-"], [class*="icondetail-"] {
    background-image: url("https://cdn2.tgdd.vn/v2015/Content/desktop/images/icondetail@1x.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.icondetail-check {
    background-position: -100px -30px;
    width: 13px;
    height: 13px;
    margin-right: 8px;
}
.infocomes li a {
    color: #288AD6;
}
.infocomes li strong {
    font-size: 13px;
    color: #545454;
    font-weight: bold;
}
.infocomes strong {
    display: inline;
}


.price_sale .buycall {
    display: block;
    margin-top: 10px;
    padding: 9px 0px;
    width: 338px;
    font-size: 13px;
    color: #333;
}
  .picture img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto 10px;
    cursor: pointer;
}
img {
    border: 0px none;
}
 section {
    margin-top: 30px;
}

.wrapbread {
    background: #FFF none repeat scroll 0% 0%;
    display: block;
}
.wrapbread .rowtop {
    width: 100%;
    max-width: 1200px;
    
    margin: auto;
    display: block;
}
.rowtop {
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    /*padding-bottom: 10px;*/
    clear: both;
}
.rowtop h1 {
    float: left;
    line-height: 1.3em;
    font-size: 26px;
    color: #333;
    margin-top:10px;
}
.rowtop span {
    float: left;
    font-size: 13px;
    color: #808080;
    margin-left: 10px;
    margin-top: 20px;
}
.boxright {
    float: left;
    width: 91.667%;
    max-width: 1100px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding :20px;
    border: 2px solid #DADADA;
    border-radius: 14px;
}

.buynow:active span,.buynow span {
    display: block;
    font-size: 12px;
    color: #FFF ;
    text-transform: none;
    font-weight: 300;
}
.buynow:hover{
cursor: pointer;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f05e0b), to(#ef8d02));
background: -webkit-linear-gradient(top, #ef8d02, #f05e0b);
background: -moz-linear-gradient(top, #ef8d02, #f05e0b);
background: -ms-linear-gradient(top, #ef8d02, #f05e0b);
background: -o-linear-gradient(top, #ef8d02, #f05e0b)
}
 .buynow {
    display: block;
    margin-top: 15px;
    padding: 9px 0px;
    width: 94.37%;
    font-size: 18px;
    font-weight: 600;
    color: #FFF !important;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #D97F00;
    border-radius: 4px;
    background: transparent -moz-linear-gradient(center top , #F89406, #F76B1C) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #f89406, #f76b1c);
	background: -moz-linear-gradient(top, #f89406, #f76b1c);
	background: -ms-linear-gradient(top, #f89406, #f76b1c);
	background: -o-linear-gradient(top, #f89406, #f76b1c)
}
.wrap-right-pd {
    background-color: #FFF;
    border-left: 2px solid #DADADA;
    
    overflow: hidden;
    z-index: 2;
}
.pro-detail {
    float: left;
    width: 580px;
    padding :20px;
    /*background: #F8F8FF none repeat scroll 0% 0%;
    background: #F6F5F5 none repeat scroll 0% 0%;*/
}
.rowtop h1 {
    float: left;
    line-height: 1.3em;
    font-size: 26px;
    
    margin-top:10px;
    font: 20px/25px Arial;
    color: #005BAA;
    text-transform: uppercase;
}
.pro-detail h1 {/**/
    font: 20px/25px Arial;
    color: #005BAA;
    text-transform: uppercase;
}
.pro-detail strong {
    display: block;
    font-size: 22px;
    color: #D0021B;
    margin-bottom: 6px;
}
.pro-detail .p-model {
    font: 12px/27px Arial;
}
.pro-detail .p-model h3 {
    float: left;
    font: 12px/27px Arial;
}
.pro-detail .p-model span {
    margin: 0px 0px 0px 7px;
}
.border-line {
    background-color: #B7B7B7;
    width: 100%;
    clear: both;
    height: 1px;
}
.pro-detail .p-spec {
    color: #555;
    font: 13px/21px Arial;
    margin: 7px 0px;
    max-height: 250px;
    overflow: hidden;
    width: 100%;
}
.p-program li {
    display: block;
    overflow: hidden;
    padding: 5px 0px 0px 20px;
    font-size: 13px;
    color: #545454;
}
.p-program li a {
    color: #288AD6;
}
/*small image*/
ul.p-select-color li {
    position: relative;
    float: left;
    margin: 2px;
    width: 56px;
    font: 12px/50px Arial;
}
 ul.p-select-color li a.active {
    
    width: 54px;
    height: 48px;
}

 ul.p-select-color li a {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #B7B7B7;
}


  
  #msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not (:first-of-type ) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	background: #27AE60;
	color: white;
}
  
  
  
  
  
  
  
  
